<!-- Footer Area -->
<footer id="footer" class="footer ">
    <!-- Footer Top -->
    <div class="footer-top">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="single-footer">
                        <div class="logo">
                            <a href="index.html"><img src="img/logo.png" alt="#"></a>
                        </div>
                        <p>Chúng tôi cam kết giảm thiểu dấu chân carbon qua từng dự án và giải pháp. Mỗi bước đi, mỗi sản phẩm đều hướng đến một tương lai xanh, bền vững và thân thiện với môi trường.</p>
                        <!-- Social -->
                        <ul class="social">
                            <li>
                                <a href="#" class="text-white">
                                    <img src="img/2023_Facebook_icon.svg.png" width="28px" alt="FaceBook">
                                </a>
                            </li>
                            <li>
                                <a href="#">                        
                                    <img src="img/2416660.png" width="28px" alt="Gmail">
                                </a>
                            </li>
                            <li>
                                <a href="#">                        
                                    <img src="img/Google__G__logo.png" width="28px" alt="Google">
                                </a>
                            </li>
                            <li>
                                <a href="#">                        
                                    <img src="img/Icon_of_Zalo.png" width="28px" alt="Zalo">
                                </a>
                            </li>
                            
                        </ul>
                        <!-- End Social -->
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="single-footer f-link">
                        <h2>Liên hệ với chúng tôi</h2>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-24">
                                <ul>
                                    <li><a href="#"><i class="fa fa-phone"></i>Hotline: 0334624356</li>
                                    <li><a href="mailto:support@yourmail.com"><i class="fa fa-envelope"></i>Email: support@yourmail.com</a></li>
                                    <li><a href="#"><i class="icofont-google-map"></i>Địa chỉ: Tầng 8, Tòa nhà Green Plaza, 123 Đường Nguyễn Văn Cừ, Quận 1, TP. Hồ Chí Minh, Việt Nam.</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="single-footer">
                        <h2>Nhận thông tin</h2>
                        <p>Đăng ký nhận thông tin của chúng tôi để nhận tất cả tin tức của chúng tôi trong hộp thư đến của bạn..</p>
                        <form action="mail/mail.php" method="get" target="_blank" class="newsletter-inner">
                            <input name="email" placeholder="Nhập email của bạn" class="common-input"
                                onfocus="this.placeholder = ''" onblur="this.placeholder = 'Nhập email của bạn'"
                                required="" type="email">
                            <button class="button"><i class="icofont icofont-paper-plane"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ End Footer Top -->

</footer>
<!--/ End Footer Area -->